<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Title</title>
<th:block th:replace="base :: csslinks"></th:block>
</head>
<body>
	<nav sec:authorize="hasAuthority('STUDENT')"
		th:insert="base :: navbarstudent"></nav>
	<nav sec:authorize="hasAuthority('TEACHER')"
		th:insert="base :: navbarteacher"></nav>
	<div class="container" sec:authorize="hasAuthority('STUDENT')">
        <br/>
		<h2>Student Dashboard</h2>
        <br/>
		<h4>STUDENT</h4>
        <br/>
	</div>
    <div class="container" sec:authorize="hasAuthority('TEACHER')">
        <br/>
        <h2>Course Link</h2>
        <br/>
        <h4>TEACHER</h4>
        <br/>
    </div>
	<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>